
/* raleway font */
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* inter font*/

.inter-normal{
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
  
/* shared color */
.color-primary{
    color: #4E47FF
}


/* header */

header{
  margin: 50px 150px;
}
.container{
    width: 1140px;
    display: flex;
    gap: 909px;
    margin: 0 auto;
}

.logo{
  width: 99px;
  font-weight: black;
}
.btn-primary{
    width: 132px;
    height: 48px;
    background-color: #4E47FF;
    border: none;
    border-radius: 10px;
    color: #FFFFFF;
}