
/* raleway font */
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* inter font*/

.inter-normal{
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
  
/* shared styles */
.color-primary{
    color: #4E47FF
}
.color-2{
  color: #252432;
}
.color-3{
  color: rgba(37, 36, 50, 0.5);
}
.text-center{
  text-align: center;
}
.bg-img{
  background-image: url('../Assets/Hero-bg.png');
}
body{
  background-color: rgba(77, 71, 255, 0.068);
}


/* header start */

header{
  padding: 50px 150px;
}
.container{
    width: 1140px;
    display: flex;
    gap: 909px;
    margin: 0 auto;
}

.logo{
  width: 99px;
  font-weight: black;
}
.btn-primary{
    width: 132px;
    height: 48px;
    background-color: #4E47FF;
    border: none;
    border-radius: 10px;
    color: #FFFFFF;
}
.btn-primary:hover{
  background-color: #9d9ca3;
}
/* header end */


/* banner start */
.banner{
   width: 905px;
   height: 237px;
   margin: 0 auto;
   padding: 100px 267px 160px;
}
.b-title{
   font-size: 65px;
   font-weight: 700;
   margin-bottom: 37px;
}
.b-button{
  width: 174px;
}


/* banner end */

/* action start */
.action{
  display: flex;
  gap: 220px;
  justify-content: center;
  margin: 116px 150px;
}
.action-left{
  width: 517px;
  height: 230px;
}
.action-left-title{
  font-size: 42px;
  font-weight: 700;
}
.action-left-description{
  font-size: 24px;
  font-weight: 400;
  color: rgba(37, 36, 50, 0.5);
  margin: 17px 0 19px;
}
.action-left-btn{
  width: 229px;
}
.action-right{
  width: 403;
  height: 328;
  border-radius: 48px;
}
/* action end */
/* productive user start */
.p-user{
  width: 1140px;
  height: 306px;
  margin: 0 auto;
  background-color: rgba(78, 71, 255, 0.12);
  border-radius: 24px;
  padding: 50px 80px;
}
.p-user-title{
  font-size: 38px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 0;

}
.p-user-rate{
  display: flex;
  gap: 180px;
  justify-content: center;
  margin: 0 0;

}
.p-user-ratings{
  font-size: 80px;
  font-weight: 700;
}
.p-user-p{
    margin-top: -70px;
    font-size: 20px;
    font-weight: 400;
}
/* productive user end */
/* user say start */
.user-say{
  width: 1140px;
  height: 342px;
  margin: 0 auto;
  margin-top: 137px;
  margin-bottom: 100px;
}
.user-say-title{
  font-size: 42px;
  font-weight: 700;
} 
.user-shadow-3{
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
.user-3{
  width: 366px;
  height: 243px;
  border-radius: 10px;
  background-color: white;
  padding: 24px;
}
.top-us{

}
.top-us-title{

}
.top-us-p{

}
.bottom-us{
  display: flex;
  gap: 20px;
}
.bottom-img{
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin: 30px;
}
/* user say end */
/* focus better start */
.focus-better{
  width: 1140px;
  height: 696px;
  margin: 0 auto;
  background-color: white;
  border-radius: 20px;
  padding: 35px 85px;
} 
.focus-better-title{
  font-size: 50px;
  font-weight: 700;
}
.focus-better-p{
  font-size: 12px;
  font-weight: 400;
}
.focus-btn{
  display: block;
  text-align: center;
}
.focus-better-img{
  width: 840px;
  height: 364px;
  border-radius: 48px;
  margin-top: 30px;
}
/* focus better end */
/* get touch start */
.get-touch{
  width: 1140px;
  height: 632px;
  margin: 0 auto;
  display: flex;
  gap: 115px;
  padding: 71px 0;
}
.focus-t-left-title{
  font-size: 97px;
  font-weight: 700;
}
.get-touch-right{
  align-items: flex-end;
  /* border: 1px solid red; */
}
.get-touch-right label{
     display: block;
}
.get-touch input[type="email"], input[type="text"]{
  width: 497px;
  height: 45px;
  border-radius: 10px;
  border: none;
  color: rgba(37, 36, 50, 0.5);
  padding: 10px 20px;
  margin-bottom: 19px;

}
textarea{
  width: 497px;
  padding:0 20px;
  margin-bottom: 20px;
  border: none;
  align-items: center;

}
.get-touch-label{
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;

}
.get-touch-btn{
  width: 497px;
  height: 45px;
  padding: 10px 20px;
}

/* get touch end */
/* footer start */

.ft{
  width: 500px;
  height: 200;
  margin: 0 auto;
  padding: 70px 300px;
}
footer{
  background-color: white;
}
.ft-title{
  font-size: 100px;
  font-style: black;
  text-align: center;
}
.ft-description{
  font-size: 17px;
  font-weight: 300;
  margin: -50px;
}
nav{
  margin: 50px;
}
nav ul{
  display: flex;
}
nav ul li{
  list-style: none;
  margin: 20px 17px;
}
nav ul li a{
  text-decoration: none;
}
ul li a:hover{
     background-color: #4E47FF;
}
/* footer end */